/* Default Styles for Desktop View */
body {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
    overflow-x: hidden;
}

header {
    background: linear-gradient(135deg, #000000, #1a1a1a, #6a11cb, #2575fc);
    color: white;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 20px;
     max-width: 1600px;
     margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #60a5fa;
    transition: all 0.3s ease;
}

.logo:hover img {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(96, 165, 250, 0.7);
}

.logo-text {
    font-family: 'Electrolize', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.logo:hover .logo-text {
    color: #60a5fa;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #60a5fa;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-links li a:hover {
    color: #60a5fa;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Price Tickers Section */
.ticker-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(135deg, #1a1a1a, #2575fc, #6a11cb);
    color: white;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #60a5fa;
    border-bottom: 2px solid #60a5fa;
}

.ticker {
    display: inline-block;
    padding-left: 10%;
    animation: ticker-scroll 50s linear infinite; /* Slowed down */
}

.ticker-item {
    display: inline-block;
    margin-right: 80px; /* Increased space between cryptos */
    font-size: 1.2rem;
    font-weight: bold;
}

.price-up {
    color: #4caf50; /* Green for price up */
    margin-right: 12px;
}

.price-down {
    color: #f44336; /* Red for price down */
    margin-right: 12px;
}

@keyframes ticker-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* TOP SECTION STYLING */
main {
    padding: 5px;
    background-color: #ffffff;
    color: #333333;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 80px;
    padding: 10px;
}

.featured-article {
    flex: 0 0 50%;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-height: 600px;
}

.featured-article img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.featured-article h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
}

.medium-articles {
    flex: 0 0 50%; /* This container takes the remaining 50% */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start; /* Ensures that the articles align at the top */
}

.medium-article {
    display: flex;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1 1 40%; /* Allows two articles to fit side by side, considering a little space for margin/padding */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
    width: auto;
    height: 250px; /* Adjust height as needed, or set a fixed height for uniformity */
    overflow: hidden;
}

.medium-article img {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.medium-article h4 {
    display: flex;
    align-self: flex-end;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 15px 0;
}

.read-more {
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 8px;
    background-color: #886fac; 
    text-decoration: none;
    border-radius: 5px;
}

.read-more:hover {
    text-decoration: underline;
}

/* Recent News CoinPanic Banner */
.news-banner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: linear-gradient(135deg, #1a1a1a, #2575fc, #6a11cb);
    color: white;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #60a5fa;
    border-bottom: 2px solid #60a5fa;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.news-ticker {
    display: inline-block;
    padding-left: 10%;
    animation: news-scroll 140s linear infinite; /* Slowed down further */
    z-index: 2;
}

.news-item {
    display: inline-block;
    margin-right: 240px;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(173, 216, 230, 0.8); /* Light blue glow */
    padding: 10px; /* Optional: Adjust padding as needed */
    border-radius: 10px; /* Optional: Add rounded corners */
    background-color: #FAFAFA;
    z-index: 3;
}

.news-item a {
    color: #301934; /* Purple color for news titles */
    text-decoration: none;
}

@keyframes news-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.latest-news-h2 {
    font-family: 'Electrolize', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    align: center;
    letter-spacing: 2px;
    color: #00000000;
}

.latest-news {
    display: flex;
    flex-flow: column wrap;
    margin-right: 120px;
    margin-left: 120px;
    padding: 20px 20px;
}

.news-grid {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-between; /* Distributes space between and around content items */
    align-items: stretch; 
}

.news-article {
    display: flex;
    flex-direction: column; /* Stacks the image and text vertically */
    flex-basis: calc(50% - 20px); /* Takes up half the parent container's width minus some margin */
    margin-bottom: 20px; /* Space between rows */
    background-color: #ffffff; /* Adds background color to each item */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box; /* Includes padding and border in width and height */
}

.news-article img {
    width: 100%; /* Ensures the image fills the container */
    height: 350px; /* Maintains aspect ratio */
    border-radius: 16px; /* Rounds the corners of the image */
}


footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Chatbot Output Styling */
#chatbot-output {
    color: white; /* White text */
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    width: 80%;
    margin: 20px auto;
}
